.fav_p {
    color: #9B9B9B;
    font-size: 25px;
}

.product {
    background-color: white;
    margin: 20px 80px;
    border: solid #ddd 1px;
    border-radius: 5px;
}

.product_img {
    width: 209px;
    height: 216px;
    margin: 20px 0px;
}

.product_details {
    display: inline-block;
    line-height: 28px;
}

.price {
    font-weight: bold;
    font-size: 18px;
    padding-right: 10px;
}

.dot {
    font-size: 50px;
    color: #ddd;
    margin: 0px 10px;
}

.view_details1 {
    border: none;
    background-color: white;
    color: #0D6EFD;
    text-decoration: none;

}

.heart {
    color: #599DFF;
    font-size: 35px;
    margin-top: 20px;
}

.fav_btn {
    border: none;
    background-color: white;
}

.AWS {
    color: #599DFF;
    font-size: 40px;
    margin-top: 140px;
}